body {
	background-color: white;
	font-family: arial;
	margin: 0px;
	font-size: large;
}

.logor {
	height: 100%
}

.logo {
	margin-left: 1%;
	height: 69%;
	width: 15%;
	background-color: transparent;
	align-self: center;
}

.cabecalho {
	height: 15vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #44A1A0;
	justify-content: space-between;
}

.icones {
	margin-top: 2%;
	background-color: transparent;
	height: 40%;
	width: 25%;
	display: flex;
	justify-content: flex-end;
}

.navegacao {
	background-color: transparent;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	height: 80%;
	width: 25%;
	align-self: center;
	margin-right: 1%;
}

.menu {
	margin-bottom: 2%;
	margin-left: 3%;
	height: 30%;
	width: 94%;
	background-color: transparent;
	align-self: flex-end;
	justify-content: center;
	text-align: right;
	align-items: center;
	margin-top: 10%;
	color: white;
}

.banner {
	width: 100%;
	background-color: transparent;
}

.banner img {
	width: 100%;
}

.aprendemais {
	align-self: center;
	text-align: center;
	margin-right: 25%;
	margin-left: 25%;
}

.container1 {
	background-color: transparent;
	align-self: center;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.menu span:hover {
	color: #CCCCCC;
	cursor: pointer;
}

.bola {
	padding: 10%;
	width: 40%;
	border: solid;
	border-radius: 100%;
	background-color: #2b4141;
	border-color: #2b4141;
	box-shadow: 5px 3px 3px 5px #CCCCCC;
}

.bola img {
	width: 100%;
	height: auto;
}

.materia {
	height: 10%;
	width: 20%;
	display: flex;
	flex-direction: column;
	background-color: transparent;
	align-items: center;
	padding: 0%;
	margin: 2%;
	text-align: center;
}

.link {
	text-align: right;
	color: rgb(236, 142, 0);
	width: 90%;
}

.link h2:hover {
	color: black;
	cursor: pointer;
}

#nome{
	width: 90%;
	height: 8vh;
	font-size: large;
	border: solid;
	border-radius: 10px;
	border-color: #44A1A0;
}

#nome:focus{
	border-color: #44A1A0;
	background-color: #dddddd;
}
.center{
	justify-content: center;
	margin: 2%;
}

.areas {
	width: 96%;
	margin: 2%;
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #44A1A0;
	background-color: transparent;
}

.questionario{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #2b4141;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 10vh;
	margin-bottom: 20vh;
}

.questao{
	width: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #44A1A0;
}

hr {
	border: solid 2px #44A1A0;
	height: 0px;
	width: 80%;
}

.container2 {
	background-color: transparent;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.hgb {
	background-color: rgb(236, 142, 0);
	width: 25%;
	display: flex;
	flex-direction: column;
	text-align: center;
	overflow: hidden;
	border-radius: 10%;
	color: aliceblue;
	box-shadow:  #CCCCCC 3px 4px 4px 3px;
}

.hgb img {
	height: 30vh;
	width: 100%;
}

.icones2 {
	margin-top: 2%;
	background-color: transparent;
	height: 40%;
	width: 60%;
	display: flex;
	justify-content: space-around;
}

a{
	text-decoration: none;
	color: aliceblue;
}

a:hover{
	color: violet;
}

.center{
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
	background-color: transparent;
	width: 100%;
}

.relative{
	position: relative;
}

.cellfr{
	position: relative;
	display: block;
	width: 60%;
	height: 60%;
	zoom: 60%;
	background-color: transparent;
	margin-left: 20%;
}

.containercel{
	display: block;
	align-items: center;
	position: relative;
	width: 1000px;
	height: 110vh;
	margin-top: 8vh;
	background-color: transparent;
}

#nucleo{
	position: relative;
	bottom: 740px;
	left: 385px;
}

#centriolo{
	right: 57px;
	bottom: 549px;
}

#golgi{
	bottom:340px;
	right:230px;
}

#liso1{
	bottom:740px;
	right:710px;
}

#liso2{
	bottom:660px;
	left:180px;
}

#micro1{
	bottom:947px;
	left:69px;
}

#micro2{
	bottom:1210px;
	left:383px;
}

#micro3{
	bottom:790px;
	left:25px;
}

#mito1{
	bottom:1150px;
	right:500px;
}

#mito2{
	bottom:750px;
	right:650px;
}

#mito3{
	bottom:850px;
	left:500px;
}

#membplas{
	bottom:1200px;
	right:786px;
}

#mitos{
	bottom:930px;
	left:560px;
}

#golginame{
	bottom:900px;
	left:510px;
}

#liso{
	bottom:1100px;
	right:500px;
}

#micro{
	bottom:1700px;
	left:650px;
}

#centri{
	bottom:1300px;
	right:440px;
}

#endo{
	bottom:1800px;
	left:680px;
}

#nucleoname{
	bottom:2260px;
	left:600px;
}

#reticulo1{
	bottom:2150px;
	right:290px;
}

#reticulo2{
	bottom:2400px;
	left:200px;
}

strong{
	color: #44A1A0;
}

h2{
	margin:10px;
	margin-bottom: 4%;
}

#membplas::hover{
	cursor: pointer;
	bottom:1200px;
	right:786px;
}

#mitos::hover{
	cursor: pointer;
	bottom:930px;
	left:560px;
}

#golginame::hover{
	cursor: pointer;
	bottom:900px;
	left:510px;
}

#liso::hover{
	cursor: pointer;
	bottom:1057px;
	right:500px;
}

#micro::hover{
	cursor: pointer;
	bottom:1700px;
	left:650px;
}

#centri::hover{
	cursor: pointer;
	bottom:1300px;
	right:440px;
}

#endo::hover{
	cursor: pointer;
	bottom:1800px;
	left:680px;
}

#nucleoname::hover{
	cursor: pointer;
	bottom:2260px;
	left:600px;
}